<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>
<style>
    #app {
        margin-left: 5%;
        margin-top: 3%;
        margin-right: 10%;
    }
</style>
<div class='app' id="app" class="d-flex flex-row">
    <template v-if='logado && !anonimo'>
        <p>Usuário logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
        <div class="row">
            <div class="p-2">
                <p>
                    Alterar nome de usuário: <input type="text" v-model='novoNome' v-on:keypress.enter='alterarNome()'>
                </p>
            </div>
            <div class="p-2">
                <button class="btn btn-primary" @click='alterarNome()'>Alterar nome</button>
            </div>
        </div>
    </template>
    <p v-else-if='logado && anonimo'>Login realizado em modo anônimo </p>
    <!-- a diretiva v-else só funciona se exatamente acima houver uma diretiva v-if -->
    <p v-else>Nenhum usuário logado</p>
    <hr>
    <template>
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <button class="btn btn-primary" @click='realizarLogin()'>{{ logado ? 'Sair' : 'Entrada' }}</button>
            </div>
            <div v-show='logado' class="p-2">
                <p>
                    Navegar em modo anônimo
                </p>
            </div>
            <div v-show='logado' class="p-2">
                <input type="checkbox" v-model='anonimo'>
            </div>
        </div>
    </template>
    <div v-show='logado'>
        <hr>
        <footer v-show='logado'>
            <p>©{{ new Date().getFullYear() }} - Projeto curso Vue.js - Desenvolvido por Filipe Linemburger</p>
        </footer>
    </div>
</div>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Maria',
            novoNome: '',
            logado: false,
            anonimo: false
        },
        computed: {
            displayCheckbox() {
                return { display: this.logado ? 'inline' : 'none' }
            }
        },
        methods: {
            realizarLogin() {
                this.logado = !this.logado
                this.anonimo = false
            },
            alterarNome() {
                if (this.novoNome.length < 3) {
                    return Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Não é possível um novo nome com menos de 3 caracteres',
                    })
                }
                this.nome = this.novoNome
                this.novoNome = ''
            }
        }
    })

</script>